{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>ProTracker</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>    
	</head>
	<body class="">
    <header>
    </header>
    {% if user.is_authenticated %}    
    <div class="container-fluid content">
      <div class="row hidden-xs">
            <div class="col-sm-8 col-xs-10">            
            <a href="{% url 'main' %}" class="title">Produkty</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'ceny' %}" class="title">Ceny</a>
            <br><br>
            {% for it in produkty %}
              <div class="row">                      
                <div class="col-md-3 col-sm-4">
                  <img class="obrazok" src="{{ it.obrlinka }}">
                </div>    
                <div class="col-md-3 col-sm-4">
                  <br><br><br><b>{{ it.nazov }}</b>
                </div>
                <div class="col-md-3 col-sm-4">
                  <br><br><br><a href="{{ it.shoplinka }}">Do obchodu</a>
                </div>
                <div class="col-md-3 col-sm-4">
                  <br><br><br>{{ it.cena }}&nbsp;{{ it.mena }}
                </div>                                                                                         
              </div>
              <hr>
            {% endfor %}          
            </div>
            <div class="col-sm-4 col-xs-2">
              <div class="formular">
                <a href="{% url 'logout' %}" class="top-menu btn btn-md pravy btn-danger">Odhlasit sa</a><br><br>
                <h3>Pridat Produkt</h3><br><br>  
                  <form method="POST">{% csrf_token %}
                    {{ form.non_field_errors }}   
                    <div class="fieldWrapper">
                      {{ form.nazov.errors }}
                      <label for="{{ form.nazov.id_for_label }}">Nazov:</label><br>
                      {{ form.nazov }}
                    </div>
                    
                    <div class="fieldWrapper">
                      {{ form.shoplinka.errors }}
                      <label for="{{ form.shoplinka.id_for_label }}">Odkaz na produkt v obchode:</label><br>
                      {{ form.shoplinka }}
                    </div>
                    
                    <div class="fieldWrapper">
                      {{ form.obrlinka.errors }}
                      <label for="{{ form.obrlinka.id_for_label }}">Odkaz na obrazok:</label><br>
                      {{ form.obrlinka }}
                    </div>
                                        
                    <div class="fieldWrapper">
                      {{ form.cena.errors }}
                      <label for="{{ form.cena.id_for_label }}">Cena:</label><br>
                      {{ form.cena }}
                    </div>
                    
                    <div class="fieldWrapper">
                      {{ form.mena.errors }}
                      <label for="{{ form.mena.id_for_label }}">Mena:</label><br>
                      {{ form.mena }}
                    </div>                                                                                                    
                    <br><br>     
                    <button type="submit" class="save btn btn-primary">Ulozit</button>
                  </form>
              </div>
            </div>          
          
          </div>  
          
        <div class="row hidden-sm hidden-md hidden-lg">        
            <div class="col-xs-2">
              <div class="formular-maly">
                <a href="{% url 'logout' %}" class="top-menu btn btn-md pravy btn-danger">Odhlasit sa</a><br><br>
                <h3>Pridat Produkt</h3><br><br>  
                  <form method="POST">{% csrf_token %}
                    {{ form.non_field_errors }}   
                    <div class="fieldWrapper">
                      {{ form.nazov.errors }}
                      <label for="{{ form.nazov.id_for_label }}">Nazov:</label><br>
                      {{ form.nazov }}
                    </div>
                    
                    <div class="fieldWrapper">
                      {{ form.shoplinka.errors }}
                      <label for="{{ form.shoplinka.id_for_label }}">Odkaz na produkt v obchode:</label><br>
                      {{ form.shoplinka }}
                    </div>
                    
                    <div class="fieldWrapper">
                      {{ form.obrlinka.errors }}
                      <label for="{{ form.obrlinka.id_for_label }}">Odkaz na obrazok:</label><br>
                      {{ form.obrlinka }}
                    </div>
                                        
                    <div class="fieldWrapper">
                      {{ form.cena.errors }}
                      <label for="{{ form.cena.id_for_label }}">Cena:</label><br>
                      {{ form.cena }}
                    </div>
                    
                    <div class="fieldWrapper">
                      {{ form.mena.errors }}
                      <label for="{{ form.mena.id_for_label }}">Mena:</label><br>
                      {{ form.mena }}
                    </div>                                                                                                    
                    <br><br>     
                    <button type="submit" class="save btn btn-primary">Ulozit</button>
                  </form>
              </div>
            </div>
                        
          </div>            
          
      <div class="row hidden-sm hidden-md hidden-lg">
            <div class="col-xs-12">            
            <a href="{% url 'main' %}" class="title">Produkty</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'ceny' %}" class="title">Ceny</a>
            {% for it in produkty %}
              <div class="row">                      
                <div class="col-md-3 col-sm-4">
                  <img class="obrazok" src="{{ it.obrlinka }}">
                </div>    
                <div class="col-md-3 col-sm-4">
                  <br><br><br><b>{{ it.nazov }}</b>
                </div>
                <div class="col-md-3 col-sm-4">
                  <br><br><br><a href="{{ it.shoplinka }}">Do obchodu</a>
                </div>
                <div class="col-md-3 col-sm-4">
                  <br><br><br>{{ it.cena }}&nbsp;{{ it.mena }}
                </div>                                                                                         
              </div>
              <hr>
            {% endfor %}          
            </div>
        </div>                                                                                        
                  
    </div> 
    
    {% else %}
    <h1>Prihlasit sa</h1><br>
             
    <a href="{% url 'login' %}" class="top-menu"></a>
    {% endif %}    
    
	</body>
</html>
